SmartFrame/Service References/AuthorizationServiceReference/SmartFrame.Services.DataContracts.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/SmartFrame.Services.DataContracts" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/SmartFrame.Services.DataContracts" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="UserContract">
    <xs:sequence>
      <xs:element minOccurs="0" name="CityName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Email" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Id" type="xs:int" />
      <xs:element minOccurs="0" name="Images" nillable="true" type="tns:ArrayOfImageContract" />
      <xs:element minOccurs="0" name="Mood" nillable="true" type="tns:MoodContract" />
      <xs:element minOccurs="0" name="MoodId" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="Password" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PhotoMode" nillable="true" type="tns:PhotoModeContract" />
      <xs:element minOccurs="0" name="PhotoModeId" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="UserName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Weather" nillable="true" type="tns:ArrayOfWeatherSavedContract" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="UserContract" nillable="true" type="tns:UserContract" />
  <xs:complexType name="ArrayOfImageContract">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="ImageContract" nillable="true" type="tns:ImageContract" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfImageContract" nillable="true" type="tns:ArrayOfImageContract" />
  <xs:complexType name="ImageContract">
    <xs:sequence>
      <xs:element minOccurs="0" name="ImageBytes" nillable="true" type="xs:base64Binary" />
      <xs:element minOccurs="0" name="ImageName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Owner" nillable="true" type="tns:UserContract" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ImageContract" nillable="true" type="tns:ImageContract" />
  <xs:complexType name="MoodContract">
    <xs:sequence>
      <xs:element minOccurs="0" name="Id" type="xs:int" />
      <xs:element minOccurs="0" name="Images" nillable="true" type="tns:ArrayOfImageContract" />
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Users" nillable="true" type="tns:ArrayOfUserContract" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="MoodContract" nillable="true" type="tns:MoodContract" />
  <xs:complexType name="ArrayOfUserContract">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="UserContract" nillable="true" type="tns:UserContract" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfUserContract" nillable="true" type="tns:ArrayOfUserContract" />
  <xs:complexType name="PhotoModeContract">
    <xs:sequence>
      <xs:element minOccurs="0" name="Id" type="xs:int" />
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Users" nillable="true" type="tns:ArrayOfUserContract" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="PhotoModeContract" nillable="true" type="tns:PhotoModeContract" />
  <xs:complexType name="ArrayOfWeatherSavedContract">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="WeatherSavedContract" nillable="true" type="tns:WeatherSavedContract" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfWeatherSavedContract" nillable="true" type="tns:ArrayOfWeatherSavedContract" />
  <xs:complexType name="WeatherSavedContract">
    <xs:sequence>
      <xs:element minOccurs="0" name="Id" type="xs:int" />
      <xs:element minOccurs="0" name="Temperature" type="xs:int" />
      <xs:element minOccurs="0" name="TemperatureFeelsLike" type="xs:int" />
      <xs:element minOccurs="0" name="User" nillable="true" type="tns:UserContract" />
      <xs:element minOccurs="0" name="WindDirectionType" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="WindGust" type="xs:int" />
      <xs:element minOccurs="0" name="WindSpeed" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="WeatherSavedContract" nillable="true" type="tns:WeatherSavedContract" />
</xs:schema>