SmartFrame/Service References/WeatherOnlineServiceReference/service.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="WeatherOnlineService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import namespace="http://tempuri.org/" />
      <xsd:import namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import namespace="http://schemas.datacontract.org/2004/07/SmartFrame.Services.DataContracts" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IWeatherOnlineService_GetWeather_InputMessage">
    <wsdl:part name="parameters" element="tns:GetWeather" />
  </wsdl:message>
  <wsdl:message name="IWeatherOnlineService_GetWeather_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetWeatherResponse" />
  </wsdl:message>
  <wsdl:message name="IWeatherOnlineService_GetWeatherForUser_InputMessage">
    <wsdl:part name="parameters" element="tns:GetWeatherForUser" />
  </wsdl:message>
  <wsdl:message name="IWeatherOnlineService_GetWeatherForUser_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetWeatherForUserResponse" />
  </wsdl:message>
  <wsdl:message name="IWeatherOnlineService_GetSavedWeatherForUser_InputMessage">
    <wsdl:part name="parameters" element="tns:GetSavedWeatherForUser" />
  </wsdl:message>
  <wsdl:message name="IWeatherOnlineService_GetSavedWeatherForUser_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetSavedWeatherForUserResponse" />
  </wsdl:message>
  <wsdl:portType name="IWeatherOnlineService">
    <wsdl:operation name="GetWeather">
      <wsdl:input wsaw:Action="http://tempuri.org/IWeatherOnlineService/GetWeather" message="tns:IWeatherOnlineService_GetWeather_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IWeatherOnlineService/GetWeatherResponse" message="tns:IWeatherOnlineService_GetWeather_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetWeatherForUser">
      <wsdl:input wsaw:Action="http://tempuri.org/IWeatherOnlineService/GetWeatherForUser" message="tns:IWeatherOnlineService_GetWeatherForUser_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IWeatherOnlineService/GetWeatherForUserResponse" message="tns:IWeatherOnlineService_GetWeatherForUser_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetSavedWeatherForUser">
      <wsdl:input wsaw:Action="http://tempuri.org/IWeatherOnlineService/GetSavedWeatherForUser" message="tns:IWeatherOnlineService_GetSavedWeatherForUser_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IWeatherOnlineService/GetSavedWeatherForUserResponse" message="tns:IWeatherOnlineService_GetSavedWeatherForUser_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IWeatherOnlineService" type="tns:IWeatherOnlineService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetWeather">
      <soap:operation soapAction="http://tempuri.org/IWeatherOnlineService/GetWeather" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetWeatherForUser">
      <soap:operation soapAction="http://tempuri.org/IWeatherOnlineService/GetWeatherForUser" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetSavedWeatherForUser">
      <soap:operation soapAction="http://tempuri.org/IWeatherOnlineService/GetSavedWeatherForUser" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="WeatherOnlineService">
    <wsdl:port name="BasicHttpBinding_IWeatherOnlineService" binding="tns:BasicHttpBinding_IWeatherOnlineService">
      <soap:address location="http://localhost:8733/api/weatheronline" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>